/Tugas3/nbproject/private/
/Tugas2/nbproject/private/
/Tugas2/build/
/Kuis/nbproject/private/
/Kuis/build/
/Tugas3/build/
/TugasPertemuan5/nbproject/private/
/TugasPertemuan5/build/
/TugasPertemuan9/nbproject/private/
/TugasPertemuan9/build/
/Responsi/Responsi/nbproject/private/
/Responsi/Responsi/build/